
{% extends 'base.html' %}
{% load static %}
{% if user.is_authenticated and request.user.is_staff %}
{% block content %}

<div class="ftco-blocks-cover-1">
    <!-- data-stellar-background-ratio="0.5" style="background-image: url('images/hero_1.jpg')" -->
    <div class="site-section-cover overlay" data-stellar-background-ratio="0"
         style="background-image: url('{% static 'core/images/hero_1.jpg' %}');background-attachment:fixed;">
        <div class="container">

            <div class="row align-items-center ">

            <div class="col-md-5 mt-5 pt-5">
<!--              <span class="text-cursive h5 text-red">Contact</span>-->
              <h1 class="mb-3 font-weight-bold text-teal">لوح التحكم</h1>
<!--              <p><a href="index.html" class="text-white">Home</a> <span class="mx-3">/</span> <strong>Contact</strong></p>-->
            </div>

          </div>



        </div>
    </div>
</div>
<div class="site-section bg-light">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
<!--            <span class="text-cursive h5 text-red d-block">Packages You Like</span>-->
<!--            <h2 class="text-white">لوح التحكم</h2>-->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="package text-center bg-white">
              <span class="img-wrap"><img src="{% static 'core/images/flaticon/svg/001-jigsaw.svg' %}" alt="Image" class="img-fluid"></span>
              <h3 class="text-teal">المخدومين</h3>
              <p>يمكنك من هنا اضافة مخدوم فى فصلك او مسحه او تعديل بياناته</p>
              <p><a href="{% url 'core:user_crud' %}" class="btn btn-primary btn-custom-1 mt-4">قم بالدخول</a></p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="package text-center bg-white">
              <span class="img-wrap"><img src="{% static 'core/images/flaticon/svg/002-target.svg' %}" alt="Image" class="img-fluid"></span>
              <h3 class="text-success">الاسئله</h3>
              <p>يمكنك من هنا اضافة اسئله ومسحها</p>
              <p><a href="{% url 'core:exam_crud' %}" class="btn btn-warning btn-custom-1 mt-4">قم بالدخول</a></p>
            </div>
          </div>
<!--          <div class="col-lg-4">-->
<!--            <div class="package text-center bg-white">-->
<!--              <span class="img-wrap"><img src="images/flaticon/svg/003-mission.svg" alt="Image" class="img-fluid"></span>-->
<!--              <h3 class="text-danger">Camping for Kids</h3>-->
<!--              <p>Lorem ipsum dolor sit amet. Consequatur aliquam, fuga maiores amet quo corporis distinctio soluta recusandae?</p>-->
<!--              <p><a href="#" class="btn btn-success btn-custom-1 mt-4">Learn More</a></p>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
    </div>
{% endblock content %}
{% endif %}